.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px; 
  margin: 20px;
}


.product-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center; 
  font-family: Arial, sans-serif; 
}

.product-item:hover {
  transform: scale(1.05); 
}

.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}


.h2p {
  font-size: 18px; 
  margin-bottom: 10px;
  font-weight: bold; 
  color: #333; 
}

.product-description {
  font-size: 14px; 
  margin-bottom: 6px;
  color: #666; 
}

.product-price {
  font-size: 16px; 
  margin-bottom: 6px;
  font-weight: bold;
  padding-top: 30px;
  color: #d11f23; 
}

.product-seller {
  font-size: 14px; 
  color: #666; 
}

.imagebox {
 max-height: 220px;
 min-height: 220px;
 object-fit: fill;
}