
.cart {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.h2c {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center; 
  margin-bottom: 16px;
}

.cart-item img {
  max-width: 50px; 
  margin-right: 12px; 
}

.cart-item h3 {
  flex-grow: 1; 
  margin: 0; 
}

.cart-item button {
  margin-left: 12px;
}

.checkout-button {
  margin-top: 16px;
  background-color: #585858;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.checkout-button:hover {
  background-color: #000000;
}

