.f {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow:  2px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}


.h2r {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}


form {
  display: flex;
  flex-direction: column;
}


label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}


input {
  padding: 12px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin-bottom: 16px;
  transition: border-color 0.2s ease;
}

input:focus {
  outline: none;
  border-color: #ffc086;
}


button {
  background-color: #585858;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #000000;
}


.link {
  text-align: center;
  margin-top: 32px;
  font-size: 14px;
  color: #1fa5ff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

